:root {
    --main-title-color: #2E2F42;
    --text-color: #434455;
    --accent-color: #4D5AE5;
    --white-color: #fff;
    --second-accent-color: #404BBF;
    --background-color: #F4F4FD;
    --second-background-color: #E7E9FC;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* -------------header------------- */

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.logo-web {
    color: var(--accent-color);
}



.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}


.address-mail,
.address-tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.address-mail:hover,
.address-mail:focus {
    color: var(--accent-color);
}

.address-tel:hover,
.address-tel:focus {
    color: var(--accent-color);
}


/* -------------hero------------- */

.hero {
    background-color: var(--main-title-color);
}

.hero-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-btn {
    color: var(--accent-color);
    background-color: var(--second-background-color);
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* ------------features------------- */




/* -------------functions----------- */



/* --------------team---------------- */

.team {
    background-color: var(--background-color);
}



/* --------------footer------------ */
.footer {
    background-color: var(--main-title-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--background-color);
}


.footer-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-background-color);
}


/* -----------------------SECOND PAGE----------------------- */


/* ----------------portfolio--------------- */

.portfolio-btn {
    color: var(--accent-color);
    background-color: var(--second-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-color);
    background-color: var(--second-accent-color);
}